@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html {
	scroll-behavior: smooth;
	// background-color: rgb(39, 39, 39);
	font-family: $font-family;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
}

section{
	padding: 96px 56px;
	max-width: 1328px;
	margin: 0 auto;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.btn {
	@include btn();
}

.btn-primary {
	@include btn($light, $dark);
}

h1 {
	@include title(95px);
	text-transform: uppercase;
}

h2 {
	@include title(48px);
	text-transform: uppercase;
}

h3 {
	@include title(28px, 500, $text-black, italic);
	margin-bottom: 16px;
	@media (min-width: 1024px) {
			@include title(32px, 500, $text-black, italic);
		}
}
.section_title{
	@include title(32px, 700, $dark);
	margin-bottom: 40px;
		@media (min-width: 1024px) {
			@include title(48px, 500, $dark);
			margin-bottom: 56px;
		}
}

.subtitle {
@include title(14px, 600, $color3op);
margin-bottom: 12px;
text-transform: uppercase;
	@media (min-width: 1024px) {
		@include title(21px, 500, $text-grey);
	}
	
}

.general_subtitle {
	@include title(21px, 500, $text-grey);
	
	
}


.tagline {
	@include title(20px, 700, $text-grey);
	text-transform: uppercase;
}

.project-tagline {
	@include title(14px);
	text-transform: uppercase;
}

.p_lg{
@include p(16px, 400, $dark, 1.4);
margin-bottom: 16px;
@media (min-width: 1024px) {
		font-size: 18px;
	}
}

.p_small{
@include p(14px, 400, $dark80, 1.4);
margin-bottom: 14px;
	@media (min-width: 1024px) {
		font-size: 16px;
	}
}

.small_text{
	margin-bottom: 14px;
@include p(14px, 400, $text-grey, 1.4);

}