.header {
	
	// font-family: FirasansBook;
	color: $light;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__nav {
	@include tablet {
		display: none;
	}
}

.header__container {
	padding: 16px 56px;
	background-color: $dark;
	max-width: 1328px;
		margin: 0 auto;
}